
/* CSS styles for index.html (home)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color:rgb(224, 224, 224);
}

header {
  background-color:  rgb(245, 197, 24);
  color:black;
  padding: 20px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  padding: 20px;

  
}
.welcome{
  background-color: rgb(245, 197, 24);
  margin-top: 10px;
}

.content .content-1, .content-2, .content-3, .content-4, .content-5, .content-6 ,.content-7, .content-8 {
  color:black;
  margin-bottom: 1.5%;
  padding: 5px;
  box-shadow: 0px 0px 0px 5px gold;
}

footer {
  background-color: #333333;
  color: rgb(245, 197, 24);
  padding: 10px;
  text-align: center;
}

/* Styles specific to search_bar (search bar) */

form{
  background: rgb(223, 201, 7);
  border-radius: 25px;
  position: relative;
  float: right;
}

input{
  width: 100%;
  display: block;
  border-radius: 25px;
  padding: 3px;
  padding-left: 10px;
  border: none;
  outline: 3px solid gold;
}

input:focus{
  outline: none;
}

button{
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

button i{
  color: rgb(93, 94, 95);
}

button:hover i{
  color:#ffbb00;
  transition: all 0.2s ease-in-out;
}

/* Styles specific to reviews.html (movie reviews) */
#reviews .movie-review {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

#reviews .movie-review h3 {
  margin-top: 0;
}

#reviews .movie-review .poster {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
}

/* Styles specific to about.html (about me)*/

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

/* Styles specific to contact.html (contact)*/
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-section input[type="text"], input[type="email"], input[type="tel"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 150px;
}

.submit-button {
  background-color:  rgb(245, 197, 24);
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffdd33;
}

.submit-button:active {
  background-color: #ffbb00;
}
