*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: aquamarine;
    height: 450px;
}

.main .tex,.image{
    width: 50%;
    background-color: beige;
    float: left;

}
.image img{
    width: 100%;
    height: 450px;
}
@media (max-width: 500px) {
    
}